
ProjektGrafy/obj/Debug/MainWindow.g.i.cs
ProjektGrafy/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
ProjektGrafy/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
ProjektGrafy/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
ProjektGrafy/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
ProjektGrafy/obj/Debug/ProjektGrafy_MarkupCompile.lref
ProjektGrafy/obj/Debug/ProjektGrafy_MarkupCompile.i.cache
ProjektGrafy/obj/Debug/ProjektGrafy_MarkupCompile.cache
ProjektGrafy/obj/Debug/ProjektGrafy.Properties.Resources.resources
ProjektGrafy/obj/Debug/ProjektGrafy.pdb
ProjektGrafy/obj/Debug/ProjektGrafy.g.resources
ProjektGrafy/obj/Debug/ProjektGrafy.exe
ProjektGrafy/obj/Debug/ProjektGrafy.csprojAssemblyReference.cache
ProjektGrafy/obj/Debug/ProjektGrafy.csproj.GenerateResource.cache
ProjektGrafy/obj/Debug/ProjektGrafy.csproj.FileListAbsolute.txt
ProjektGrafy/obj/Debug/ProjektGrafy.csproj.CoreCompileInputs.cache
ProjektGrafy/obj/Debug/Pages/NewGraphPage.g.i.cs
ProjektGrafy/obj/Debug/Pages/NewGraphPage.g.cs
ProjektGrafy/obj/Debug/Pages/NewGraphPage.baml
ProjektGrafy/obj/Debug/MainWindow.g.cs
ProjektGrafy/obj/Debug/MainWindow.baml
ProjektGrafy/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ProjektGrafy/obj/Debug/DesignTimeResolveAssemblyReferences.cache
ProjektGrafy/obj/Debug/Controls/VertexControl.g.i.cs
ProjektGrafy/obj/Debug/Controls/VertexControl.g.cs
ProjektGrafy/obj/Debug/Controls/VertexControl.baml
ProjektGrafy/obj/Debug/App.g.i.cs
ProjektGrafy/obj/Debug/App.g.cs
ProjektGrafy/bin/Debug/ProjektGrafy.pdb
ProjektGrafy/bin/Debug/ProjektGrafy.exe.config
ProjektGrafy/bin/Debug/ProjektGrafy.exe
.vs/ProjektGrafy/v15/Server/sqlite3/storage.ide-wal
.vs/ProjektGrafy/v15/Server/sqlite3/storage.ide-shm
.vs/ProjektGrafy/v15/Server/sqlite3/storage.ide
.vs/ProjektGrafy/v15/Server/sqlite3/db.lock
.vs/ProjektGrafy/v15/.suo
