
ProjektGrafy/obj/Debug/MainWindow.g.i.cs
ProjektGrafy/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
ProjektGrafy/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
ProjektGrafy/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
ProjektGrafy/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
ProjektGrafy/obj/Debug/ProjektGrafy_MarkupCompile.lref
ProjektGrafy/obj/Debug/ProjektGrafy_MarkupCompile.i.cache
ProjektGrafy/obj/Debug/ProjektGrafy_MarkupCompile.cache
ProjektGrafy/obj/Debug/ProjektGrafy.Properties.Resources.resources
ProjektGrafy/obj/Debug/ProjektGrafy.pdb
ProjektGrafy/obj/Debug/ProjektGrafy.g.resources
ProjektGrafy/obj/Debug/ProjektGrafy.exe
ProjektGrafy/obj/Debug/ProjektGrafy.csprojAssemblyReference.cache
ProjektGrafy/obj/Debug/ProjektGrafy.csproj.GenerateResource.cache
ProjektGrafy/obj/Debug/ProjektGrafy.csproj.FileListAbsolute.txt
ProjektGrafy/obj/Debug/ProjektGrafy.csproj.CoreCompileInputs.cache
ProjektGrafy/obj/Debug/Pages/NewGraphPage.g.i.cs
ProjektGrafy/obj/Debug/Pages/NewGraphPage.g.cs
ProjektGrafy/obj/Debug/Pages/NewGraphPage.baml
ProjektGrafy/obj/Debug/MainWindow.g.cs
ProjektGrafy/obj/Debug/MainWindow.baml
ProjektGrafy/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ProjektGrafy/obj/Debug/DesignTimeResolveAssemblyReferences.cache
ProjektGrafy/obj/Debug/Controls/VertexControl.g.i.cs
ProjektGrafy/obj/Debug/Controls/VertexControl.g.cs
ProjektGrafy/obj/Debug/Controls/VertexControl.baml
ProjektGrafy/obj/Debug/App.g.i.cs
ProjektGrafy/obj/Debug/App.g.cs
ProjektGrafy/bin/Debug/ProjektGrafy.pdb
ProjektGrafy/bin/Debug/ProjektGrafy.exe.config
ProjektGrafy/bin/Debug/ProjektGrafy.exe
.vs/ProjektGrafy/v15/Server/sqlite3/storage.ide-wal
.vs/ProjektGrafy/v15/Server/sqlite3/storage.ide-shm
.vs/ProjektGrafy/v15/Server/sqlite3/storage.ide
.vs/ProjektGrafy/v15/Server/sqlite3/db.lock
.vs/ProjektGrafy/v15/.suo
Dokumentacja/rtf/refman.rtf
Dokumentacja/rtf/icon.png
Dokumentacja/rtf/class_projekt_grafy_1_1_properties_1_1_settings.png
Dokumentacja/rtf/class_projekt_grafy_1_1_pages_1_1_new_graph_page.png
Dokumentacja/rtf/class_projekt_grafy_1_1_pages_1_1_menu_page.png
Dokumentacja/rtf/class_projekt_grafy_1_1_pages_1_1_load_graph_page.png
Dokumentacja/rtf/class_projekt_grafy_1_1_main_window.png
Dokumentacja/rtf/class_projekt_grafy_1_1_controls_1_1_vertex_control.png
Dokumentacja/rtf/class_projekt_grafy_1_1_app.png
Dokumentacja/html/tabs.css
Dokumentacja/html/tab_s.png
Dokumentacja/html/tab_h.png
Dokumentacja/html/tab_b.png
Dokumentacja/html/tab_a.png
Dokumentacja/html/sync_on.png
Dokumentacja/html/sync_off.png
Dokumentacja/html/splitbar.png
Dokumentacja/html/search/variables_4.js
Dokumentacja/html/search/variables_4.html
Dokumentacja/html/search/variables_3.js
Dokumentacja/html/search/variables_3.html
Dokumentacja/html/search/variables_2.js
Dokumentacja/html/search/variables_2.html
Dokumentacja/html/search/variables_1.js
Dokumentacja/html/search/variables_1.html
Dokumentacja/html/search/variables_0.js
Dokumentacja/html/search/variables_0.html
Dokumentacja/html/search/searchdata.js
Dokumentacja/html/search/search_r.png
Dokumentacja/html/search/search_m.png
Dokumentacja/html/search/search_l.png
Dokumentacja/html/search/search.js
Dokumentacja/html/search/search.css
Dokumentacja/html/search/properties_0.js
Dokumentacja/html/search/properties_0.html
Dokumentacja/html/search/nomatches.html
Dokumentacja/html/search/namespaces_0.js
Dokumentacja/html/search/namespaces_0.html
Dokumentacja/html/search/mag_sel.png
Dokumentacja/html/search/functions_c.js
Dokumentacja/html/search/functions_c.html
Dokumentacja/html/search/functions_b.js
Dokumentacja/html/search/functions_b.html
Dokumentacja/html/search/functions_a.js
Dokumentacja/html/search/functions_a.html
Dokumentacja/html/search/functions_9.js
Dokumentacja/html/search/functions_9.html
Dokumentacja/html/search/functions_8.js
Dokumentacja/html/search/functions_8.html
Dokumentacja/html/search/functions_7.js
Dokumentacja/html/search/functions_7.html
Dokumentacja/html/search/functions_6.js
Dokumentacja/html/search/functions_6.html
Dokumentacja/html/search/functions_5.js
Dokumentacja/html/search/functions_5.html
Dokumentacja/html/search/functions_4.js
Dokumentacja/html/search/functions_4.html
Dokumentacja/html/search/functions_3.js
Dokumentacja/html/search/functions_3.html
Dokumentacja/html/search/functions_2.js
Dokumentacja/html/search/functions_2.html
Dokumentacja/html/search/functions_1.js
Dokumentacja/html/search/functions_1.html
Dokumentacja/html/search/functions_0.js
Dokumentacja/html/search/functions_0.html
Dokumentacja/html/search/close.png
Dokumentacja/html/search/classes_9.js
Dokumentacja/html/search/classes_9.html
Dokumentacja/html/search/classes_8.js
Dokumentacja/html/search/classes_8.html
Dokumentacja/html/search/classes_7.js
Dokumentacja/html/search/classes_7.html
Dokumentacja/html/search/classes_6.js
Dokumentacja/html/search/classes_6.html
Dokumentacja/html/search/classes_5.js
Dokumentacja/html/search/classes_5.html
Dokumentacja/html/search/classes_4.js
Dokumentacja/html/search/classes_4.html
Dokumentacja/html/search/classes_3.js
Dokumentacja/html/search/classes_3.html
Dokumentacja/html/search/classes_2.js
Dokumentacja/html/search/classes_2.html
Dokumentacja/html/search/classes_1.js
Dokumentacja/html/search/classes_1.html
Dokumentacja/html/search/classes_0.js
Dokumentacja/html/search/classes_0.html
Dokumentacja/html/search/all_d.js
Dokumentacja/html/search/all_d.html
Dokumentacja/html/search/all_c.js
Dokumentacja/html/search/all_c.html
Dokumentacja/html/search/all_b.js
Dokumentacja/html/search/all_b.html
Dokumentacja/html/search/all_a.js
Dokumentacja/html/search/all_a.html
Dokumentacja/html/search/all_9.js
Dokumentacja/html/search/all_9.html
Dokumentacja/html/search/all_8.js
Dokumentacja/html/search/all_8.html
Dokumentacja/html/search/all_7.js
Dokumentacja/html/search/all_7.html
Dokumentacja/html/search/all_6.js
Dokumentacja/html/search/all_6.html
Dokumentacja/html/search/all_5.js
Dokumentacja/html/search/all_5.html
Dokumentacja/html/search/all_4.js
Dokumentacja/html/search/all_4.html
Dokumentacja/html/search/all_3.js
Dokumentacja/html/search/all_3.html
Dokumentacja/html/search/all_2.js
Dokumentacja/html/search/all_2.html
Dokumentacja/html/search/all_1.js
Dokumentacja/html/search/all_1.html
Dokumentacja/html/search/all_0.js
Dokumentacja/html/search/all_0.html
Dokumentacja/html/open.png
Dokumentacja/html/nav_h.png
Dokumentacja/html/nav_g.png
Dokumentacja/html/nav_f.png
Dokumentacja/html/namespaces.html
Dokumentacja/html/namespace_projekt_grafy_1_1_properties.html
Dokumentacja/html/namespace_projekt_grafy_1_1_pages.html
Dokumentacja/html/namespace_projekt_grafy_1_1_controls.html
Dokumentacja/html/namespace_projekt_grafy_1_1_class.html
Dokumentacja/html/namespace_projekt_grafy.html
Dokumentacja/html/menudata.js
Dokumentacja/html/menu.js
Dokumentacja/html/jquery.js
Dokumentacja/html/index.html
Dokumentacja/html/icon.png
Dokumentacja/html/hierarchy.html
Dokumentacja/html/functions_vars.html
Dokumentacja/html/functions_prop.html
Dokumentacja/html/functions_func.html
Dokumentacja/html/functions.html
Dokumentacja/html/folderopen.png
Dokumentacja/html/folderclosed.png
Dokumentacja/html/dynsections.js
Dokumentacja/html/doxygen.png
Dokumentacja/html/doxygen.css
Dokumentacja/html/doc.png
Dokumentacja/html/dir_f02245bc0c6328b148642eb0eac858dc.html
Dokumentacja/html/dir_e07480ce22a0afb38ac6550ddc77aec8.html
Dokumentacja/html/dir_d051c76eebdc544d9c3d734575641c72.html
Dokumentacja/html/dir_bdccd6d5b2a6b9571b43f7bb130daf3d.html
Dokumentacja/html/dir_a71c3b2ad23b9ff58220dd012d201987.html
Dokumentacja/html/dir_8ee84b812603e70ef64c2b541b9d52cd.html
Dokumentacja/html/dir_7abcc4c3ac92a5007738d08d3481a43b.html
Dokumentacja/html/dir_43724e81dd40e09f32417973865cdd64.html
Dokumentacja/html/closed.png
Dokumentacja/html/classes.html
Dokumentacja/html/class_projekt_grafy_1_1_properties_1_1_settings.png
Dokumentacja/html/class_projekt_grafy_1_1_properties_1_1_settings.html
Dokumentacja/html/class_projekt_grafy_1_1_properties_1_1_settings-members.html
Dokumentacja/html/class_projekt_grafy_1_1_properties_1_1_resources.html
Dokumentacja/html/class_projekt_grafy_1_1_properties_1_1_resources-members.html
Dokumentacja/html/class_projekt_grafy_1_1_pages_1_1_new_graph_page.png
Dokumentacja/html/class_projekt_grafy_1_1_pages_1_1_new_graph_page.html
Dokumentacja/html/class_projekt_grafy_1_1_pages_1_1_new_graph_page-members.html
Dokumentacja/html/class_projekt_grafy_1_1_pages_1_1_menu_page.png
Dokumentacja/html/class_projekt_grafy_1_1_pages_1_1_menu_page.html
Dokumentacja/html/class_projekt_grafy_1_1_pages_1_1_menu_page-members.html
Dokumentacja/html/class_projekt_grafy_1_1_pages_1_1_load_graph_page.png
Dokumentacja/html/class_projekt_grafy_1_1_pages_1_1_load_graph_page.html
Dokumentacja/html/class_projekt_grafy_1_1_pages_1_1_load_graph_page-members.html
Dokumentacja/html/class_projekt_grafy_1_1_main_window.png
Dokumentacja/html/class_projekt_grafy_1_1_main_window.html
Dokumentacja/html/class_projekt_grafy_1_1_main_window-members.html
Dokumentacja/html/class_projekt_grafy_1_1_controls_1_1_vertex_control.png
Dokumentacja/html/class_projekt_grafy_1_1_controls_1_1_vertex_control.html
Dokumentacja/html/class_projekt_grafy_1_1_controls_1_1_vertex_control-members.html
Dokumentacja/html/class_projekt_grafy_1_1_class_1_1_vertex.html
Dokumentacja/html/class_projekt_grafy_1_1_class_1_1_vertex-members.html
Dokumentacja/html/class_projekt_grafy_1_1_class_1_1_graph.html
Dokumentacja/html/class_projekt_grafy_1_1_class_1_1_graph-members.html
Dokumentacja/html/class_projekt_grafy_1_1_class_1_1_checkout.html
Dokumentacja/html/class_projekt_grafy_1_1_class_1_1_checkout-members.html
Dokumentacja/html/class_projekt_grafy_1_1_class_1_1_bipartite_graph_i_o.html
Dokumentacja/html/class_projekt_grafy_1_1_class_1_1_bipartite_graph_i_o-members.html
Dokumentacja/html/class_projekt_grafy_1_1_class_1_1_bipartite_graph.html
Dokumentacja/html/class_projekt_grafy_1_1_class_1_1_bipartite_graph-members.html
Dokumentacja/html/class_projekt_grafy_1_1_app.png
Dokumentacja/html/class_projekt_grafy_1_1_app.html
Dokumentacja/html/class_projekt_grafy_1_1_app-members.html
Dokumentacja/html/bdwn.png
Dokumentacja/html/bc_s.png
Dokumentacja/html/annotated.html
ProjektGrafy/publish/Application Files/ProjektGrafy_1_0_0_0/icon_Fes_icon.ico.deploy
ProjektGrafy/publish/Application Files/ProjektGrafy_1_0_0_0/ProjektGrafy.application
ProjektGrafy/publish/Application Files/ProjektGrafy_1_0_0_0/ProjektGrafy.exe.config.deploy
ProjektGrafy/publish/Application Files/ProjektGrafy_1_0_0_0/ProjektGrafy.exe.deploy
ProjektGrafy/publish/Application Files/ProjektGrafy_1_0_0_0/ProjektGrafy.exe.manifest
ProjektGrafy/publish/Application Files/ProjektGrafy_1_0_0_1/icon_Fes_icon.ico.deploy
ProjektGrafy/publish/Application Files/ProjektGrafy_1_0_0_1/ProjektGrafy.application
ProjektGrafy/publish/Application Files/ProjektGrafy_1_0_0_1/ProjektGrafy.exe.config.deploy
ProjektGrafy/publish/Application Files/ProjektGrafy_1_0_0_1/ProjektGrafy.exe.deploy
ProjektGrafy/publish/Application Files/ProjektGrafy_1_0_0_1/ProjektGrafy.exe.manifest
ProjektGrafy/publish/Application Files/ProjektGrafy_1_0_0_2/icon_Fes_icon.ico.deploy
ProjektGrafy/publish/Application Files/ProjektGrafy_1_0_0_2/ProjektGrafy.application
ProjektGrafy/publish/Application Files/ProjektGrafy_1_0_0_2/ProjektGrafy.exe.config.deploy
ProjektGrafy/publish/Application Files/ProjektGrafy_1_0_0_2/ProjektGrafy.exe.deploy
ProjektGrafy/publish/Application Files/ProjektGrafy_1_0_0_2/ProjektGrafy.exe.manifest
ProjektGrafy/publish/autorun.inf
ProjektGrafy/publish/ProjektGrafy.application
ProjektGrafy/publish/setup.exe
